@font-face {
  font-family: "briar";
  src: url("/font/briar.otf");
}



body, html {
   
    background: #FAC2C1;
  
}
body{
    
    font-family: 'farm_neue_lt_std75_bold';
    font-weight:bold;
    text-transform:lowercase;
    padding:10px;
    color: black;

}

h1 {
    font-size: em;
    font-family: briar;
}

* 
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}

ul.site-nav {
    margin: auto;
    list-style: none;
    display: flex;
    text-align: center;
    width: 100%;
      padding-left: 30px;
    position: fixed;
}

ul.site-nav li {
    float: left;
    margin: 15px;
    margin-top: 7px;
  
}



nav {
    width: 200px;
    margin: auto;
    margin-top: 120px;
    font-size: 11px;
}

footer {
    position: fixed;
    bottom: 0;
    padding: 10px;
    font-size: 10px;

    a {
        color:black;
    }
}

header {
    position: fixed;
    top: 20px;
    left: 0;
    right: 0;
    width: 100%;
}

main#MainContent {
    max-width: 660px;
    margin: auto;
    width: 100%;
    text-align: left;
    padding-top: 70px;
    z-index: 99;
}

a {
    color: BLACK;
    text-decoration: none;
    text-align: center;
}

input {
    width: 100%;
    border: 4px solid;
    padding: 11px;
    margin
}
label.hidden-label {
    display: none;
}

input#contactFormAddInfo {
    float: right;
    float: left;
    width: 30px;
}

input#contactFormSexMale {
    width: 30px;
    height: 12px;
}

input.btn {
    text-align: center;
    width: 100px;
    margin: auto;
    float: right;
}

textarea#ContactFormMessage {
    width: 100%;
    border: 4px solid;
    padding: 10px;
    margin: 10px 0;
}

li.site-nav--active {
    border-bottom: 2px solid #ffd8d9;
}

.rte a {
    color: #fbd1d3;
}

.grid__item.large--one-half.col-6.left {
    padding: 0;
}

.details {
    text-align: right;
    line-height: 24px;
}

span.date {
    font-size: 14px;
    float: left;
}

.top a{
    color: black;
  text-decoration:underline;
    
  &:hover{
        color: red;
    }
}


.top a:hover{
color:white;
}

body#flat-rate-shopify-store-setup {
     background: #fff8d2;
    color: black;
}

img.productImg {
    max-width: 90px;
}


p.p1 {
    padding: 0;
      margin: 6px;
}

div#shopify-section-product-instant {
    width: 550px;
    margin: auto;
    margin-top: 80px;
  	text-align:center;
    min-height: 100vh;
  	margin-top:0;
      max-width: 91%;
}


div#shopify-section-product-instant
 h1 {
    font-size: 25px;
}

.rte.p1 {
    margin: 0;
    padding: 0;
}


.price {
    padding: 10px;
    font-size: 28px;
}

button {
    padding: 15px;
    width: 100%;
    background: #62ac3b;
    border: 3px solid white;
    border-radius: 0;
    color: white;
    font-size: 21px;
    width: 50%;
    margin: 30px;

}

.grid__item.large--one-half.col-6.left {
    width: 100%;
    margin-bottom: 20px;
}

input.btn.inquire {
    border: 3px solid;
    float: left;
}


span {
    position: relative;
    font-family: "Avenir Next", sans-serif;
    font-weight: 900;
    font-size: 64px;
    text-transform: uppercase;
    font-style: italic;
    letter-spacing: 0.05em;
    display: inline-block;
  }
  
  /* We create a pseudo element and blur it using the SVG filter. We’ll grab the content from the custom HTML attribute. */
  
  span:before {
    position: absolute;
    left: 0;
    top: 0;
    content: attr(filter-content);
  
    filter: url(#motion-blur-filter);
  }
  
  /* We hide the SVG filter element from the DOM as it would take up some space */
  
  svg {
    display: none;
  }

  /* Style the video: 100% width and height to cover the entire window */
#myVideo {
    position: fixed;
    right: 0;
    bottom: 0;
    min-width: 100%;
    min-height: 100%;
  }
  
  /* Add some content at the bottom of the video/page */
  /* .content {
    position: fixed;
    bottom: 0;
    background: rgba(0, 0, 0, 0.5);
    color: #f1f1f1;
    width: 100%;
    padding: 20px;
  } */
  
  /* Style the button used to pause/play the video */
  #myBtn {
    width: 200px;
    font-size: 18px;
    padding: 10px;
    border: none;
    background: #000;
    color: #fff;
    cursor: pointer;
  }
  
  #myBtn:hover {
    background: #ddd;
    color: black;
  }

  .circle {
      transform-style: preserve-3d;
      animation: animate 8s linear infinite;
  }

  @keyframes animate
  {
      0%
      {
          transform: perspective(10000px) rotateY(360deg) rotateX(-5deg);
      }
      
      100% {
        transform: perspective(10000px) rotateY(360deg) rotateX(-5deg);
      }
  }

  .circle .char {
      position: flex;
      top: 0;
      left: 0;      
      color: black;
      font-size: 45px;
      padding: 1px 2px;
      transform-style: preserve-3d;
      transform-origin: center;
      transform: rotate(calc(var(--char-index) * 2deg))
      translateZ(250px);
  }